*{
	box-sizing: border-box;
  margin: 0;
  padding: 0;
}

section {
  display:flex;
  flex-direction: row;

}

.box {
  height:15em;
  width:15em;
  border:40px solid purple;
  background-color: yellow;
}
